<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <section class="conteiner-header">
            <h1>LOGO</h1>
            <nav>
                <ul>
                    <li><a href="#">INICIO</a></li>
                    <li><a href="#">HTML</a></li>
                    <li><a href="#">CSS</a></li>
                    <li><a href="#">JAVASCRIPT</a></li>
                    <li><a href="#">OUTRAS TECNOLOGIAS</a></li>
                </ul>
            </nav>
        </section>
        <section class="introdução-do-site">
            <section class="slogan-do-site">
                <h1>LOGO</h1>
                <p>
                    Aprenda o basíco de programação web.
                </p>
                <button>Conheça  ></button>
            </section>
            <img src="../img/symbol-2485367_1280.png" alt="">
        </section>
    </header>
</body>
</html>