*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif ;
}

body{
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

/*config do header*/
/*navegação*/

header{
    background-color:#e9ee55;
    height: 100vh;
}

.conteiner-nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    color: rgb(0, 0, 0);
}

.conteiner-nav nav ul{
    display: flex;
    margin-top: 15px;
}

.conteiner-nav nav ul li{
    padding: 0 20px;
    font-size: 20px;
}
.conteiner-nav nav ul li a:hover{
    color: white;
}

.conteiner-nav .logo img{
    width: 150px;
}

/*introdução do html*/

.introdução-javascript{
    margin: 150px 50px;
    display: flex;
}

.introdução-javascript img {
    width: 512px;
    height: 512px;
}

.introdução-javascript p{
    font-size: 30px;
    margin-top: 160px;
    color: rgb(0, 0, 0);
}